---
import "../styles/global.css";

const { title = "Sayamta Bajracharya" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta
    name="description"
    content="Portfolio of Sayamta Bajracharya, a computer science student specializing in backend development, full-stack web apps, and interested in cybersecurity."
  />
</head>

<body>
<slot />
</body>

</html>